.heading h3{
    color: ;
    border-bottom: 2px solid rgb(2, 2, 61);
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 20px;
}
.welcome{
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font: 15px;
  
}
.tt{
    border: 1px solid black;
    left: 10px;
}
.mgt0{
    margin-top: 5px;
}
.tb50{
    margin: 30px 0px;
}
